<div class="main-container">
  <!-- Animated Background -->
  <div class="animated-background"></div>

  <!-- Navigation -->
  <nav class="nav-container" [class.active]="isMenuOpen">
    <div class="brand">
      <img src="assets/images/bristle_logo.jpg" alt="BristleTech_logo" class="logo">
      <h1 class="brand-name">BristleTech</h1>
    </div>

    <div class="hamburger" >
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>

    <ul class="nav-links">
      <li><a routerLink="/" class="nav-link">Home</a></li>
      <li><a routerLink="/services" class="nav-link">Services</a></li>
      <li><a routerLink="/how-we-work" class="nav-link">How We Work</a></li>
      <li><a routerLink="/partners" class="nav-link">Partners</a></li>
      <li><a routerLink="/aboutus" class="nav-link">About Us</a></li>
    </ul>
  </nav>

  <!-- Main Content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  
<!-- Update background binding -->
  <div class="animated-background" [class]="currentBg"></div>

  <!-- Footer -->
  <footer class="footer-container">
    <app-contact-us></app-contact-us>
  </footer>
</div>